# JWT Secret - AMBIENTE DEV (seu teste)
JWT_SECRET_KEY=SuaChaveSecretaDevAqui2024!@#$%

# JWT Secret - AMBIENTE CLIENTE
JWT_SECRET_KEY_CLIENTE=SuaChaveSecretaClienteAqui2024!@#$%

# Optional: Email settings
EMAIL_SMTP_SERVER=
EMAIL_SMTP_PORT=587
EMAIL_SENDER_EMAIL=
EMAIL_USERNAME=
EMAIL_PASSWORD=
